body {
    background-color: aquamarine;
    text-align: center;
    font-family: cursive;
}

div {
    margin-top: 15px
}

h1 {
    font-family: inherit;
}


h2 {
    font-family: inherit;
}

img {
    with: 70px;
    height: 70px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
